* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body section */

.container {
    width: 100%;
    height: 100vh;
    background-color: black;
}

/* header section */

.container .header {
    display: flex;
    align-items: center;
    padding: 20px;
}

.container .header .logo {
    width: 30px;
    cursor: pointer;
}

.container .header a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    margin-left: 60px;
}

.container .header .first-i {
    color: white;
    font-size: 25px;
    margin-left: 600px;
    cursor: pointer;
}

.container .header .second-i {
    color: white;
    font-size: 25px;
    margin-left: 40px;
    cursor: pointer;
}

.container .header .cartoon {
    width: 30px;
    margin-left: 40px;
    cursor: pointer;
}

/* body section first row */

.body .row1 h1 {
    color: white;
    margin: 10px 50px;
}

.body img {
    border-radius: 4px;
    margin-left: 30px;
}

.body .row1 .carts {
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 230px;
}

/* body section second row */

.body .row2 h1 {
    color: white;
    margin: 20px 50px;
}

.body .row2 .carts {
    display: flex;
    overflow: hidden;
    width: 100%;
    justify-content: space-between;
    height: 230px;
}